*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content:flex-end;
    background-color: white;
    box-shadow: 0PX 0PX 4px gray;
    align-items: center;
    position: sticky;
    top: 0;
}
.icons{
    padding-right: 50PX;
}
.icons i{
    color:black;
    padding: 0 8PX;
    font-size: 20PX;
    animation:icon 3s infinite ;
}
i:hover{
    color: rgb(19, 62, 105);
}
.logo img{
border-radius: 50%;
width: 70PX ;
height: 70PX;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 200PX;
}
li a{
    text-decoration: none;
    color: black;
    border-bottom:1px solid transparent  ;
    padding: 10PX 20PX;
    font-size: 15PX;
    transition: all 0.5s;
}
li a:hover{
    border-bottom:1px solid black;

}
.img{
    margin:30PX 0 ;
    text-align: center;
}
.Bijoux{
    width:100% ;
    height:540PX ;
}
.parent{
    display: flex;
    justify-content:center;
}
.parent img{
    width: 270PX;
    height: 270PX;
}


.child{
    margin: 50px 15px;
}
h3{
    font-weight: 300;
}
.possition{
    color: black;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.possition h2{
    font-size: 40PX;
    font-weight: 900;
    padding-bottom:20px;
}
.possition h3{
    font-size: 30PX;
    font-weight: 500;
    color: rgb(19, 62, 105);
    padding-bottom:15px;
}
.possition p{
    color: rgb(24, 23, 23);
    font-style: italic;
    font-size: 15px;
}
button{
    color: rgb(19, 62, 105);
    border: 1PX solid rgb(19, 62, 105);
    border-radius: 15PX;
    margin:15PX 0 ;
    padding:12PX 22PX ;
    background-color:transparent ;
    transition: all 1S;
    font-size: 15px;
}
 button:hover{
    background-color:rgb(19, 62, 105);
    color: black;
}
h1{
    text-align: center;
    margin: 50px 0;
    font-weight: 400;
    font-size:40PX;
    text-decoration: underline 2PX ;
}
.About{
    display: flex;
}
.About img{
    width: 35%;
    margin:0 40PX 0 140PX ;
}
@media (max-width:780px) {
    .About img{
    margin:0  ;
     width: 100%;
    height: auto;
    }
}
.Why{
    margin: 90PX 15PX;
    line-height: 30PX;
}
@media (max-width:780px) {
    .Why{
        margin: 15PX;
    }
    
}
.Why h2{
    font-size: 30PX;
    font-weight: 700;
    margin-bottom: 10PX;
}
.Why P{
    color: rgb(44, 42, 42);
}
.Why button{
    border: none;
    background-color: black;
    color: white;
}
.section3 div{
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
}
.section3 article {
    height: 330px;
    padding-left: 50px;
    margin:10PX 40px;
    box-shadow: 0PX 0PX 4px gray;
}

.section3 article img{
    width: 300PX;
    height: 200PX;
}
.section3 article p{
    color: rgb(55, 98, 141);
    padding-top: 5PX;
}
.section3 article h4{
    font-weight: 500;
    font-size: 20px;
}
.section3 article button{
    margin-right: 40px;
}
.Sercice article div img{
    width: 70px;
    height: 60px;
    border-radius: 50%;
}
.Sercice{
    display: flex;
}
.Sercice article{
     padding: 30px;
     line-height: 25PX;
     margin: 10PX 15px;
     box-shadow: 0PX 0PX 5px gray;
     border-radius: 8PX;

}

.Sercice article .star{
    color: rgb(19, 62, 105);
}
.Sercice article p{
    color: rgb(44, 42, 42);
    font-size: 15px;
    font-weight: 200;
}
.profil {
    display: flex;
    padding-bottom: 10px;

}
.profil span {
    padding: 5px;
}
.Contact{
    display: flex;
    justify-content: space-around;
    margin: 10PX 80px 90PX 80px;

}
@media (max-width:780px) {
    .Contact{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin:0 10px 45px 10PX ;
}
}
.Contact .contc{
    font-size: 20px;
}
.Contact .contc  div i {
    padding-left: 110px;
    font-size: 30px;
    margin-bottom: 10px;

}
footer{
    width: 100%;
    display: flex;
    background-color: black;
}
@media (max-width:780px) {
    footer{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
}
}

.arti{
    margin: 30PX 50px;
    color: white;
    line-height: 30PX;
}
h5{
    font-size: 20px;
    margin: 10px 0;
}
h5:hover{
    text-decoration: underline;
}
.link a{
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    color: rgb(68, 66, 66);
}
